

### Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd
import statistics

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [0]:
Euro12=pd.read_csv('Euro_2012_stats_TEAM.csv')

### Step 4. Select only the Goal column.

In [0]:
Goal=euro12['Goals']

### Step 5. How many team participated in the Euro2012?

In [0]:
Team=euro12['Team']
len(Team)

16

### Step 6. What is the number of columns in the dataset?

In [0]:
len(Euro12.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [0]:
Sel_col=Euro12.loc[:,['Team','Yellow Cards','Red Cards']]
d_frame=pd.DataFrame(Sel_col)
d_frame

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [0]:
Red=input('1 for Red Color or 0')

Sel_col=Euro12.loc[:,'Team']
d_frame=pd.DataFrame(Sel_col)

Sets= Euro12['Red Cards'] == int(Red)

d_frame[Sets]

1 for Red Color or 00

              Team
0          Croatia
1   Czech Republic
2          Denmark
3          England
4           France
5          Germany
7            Italy
8      Netherlands
10        Portugal
12          Russia
13           Spain
14          Sweden
15         Ukraine

In [0]:
Yellow=input('Yellow cards')
Sets= Euro12['Yellow Cards'] == int(Yellow)

d_frame[Sets]

Yellow cards9

      Team
0  Croatia
6   Greece

### Step 9. Calculate the mean Yellow Cards given per Team

### Step 10. Filter teams that scored more than 6 goals

In [0]:
Sets= Euro12['Goals'] > 6

d_frame[Sets]

       Team
5   Germany
13    Spain

### Step 11. Select the teams that start with G

### Step 12. Select the first 7 columns

In [0]:
Euro12.iloc[:,0:7]

NameError: ignored

### Step 13. Select all columns except the last 3.

In [0]:
Euro12.iloc[:].Head(12)

NameError: ignored

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [0]:

Euro12.loc[[3,7,12],['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England            50.00%
7     Italy            43.00%
12   Russia            22.50%

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**